.map-frame {
  margin-top: 30px;
  min-height: 300px;
}

.map-frame__image {
  min-height: 300px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .map-frame {
    margin-bottom: 40px;
    min-height: 360px;
  }

  .map-frame__image {
    max-height: 360px;
  }
}
