.about {
  padding: 40px 0 20px 20px;
  overflow: hidden;
}

.about__place {
  display: inline-flex;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 12px 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &::before {
    @include pseudo;
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url("../../img/heart.svg");
    background-size: contain;
  }
}

.about__title {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  b {
    font-weight: 700;
  }
}

.about__list {
  @include list-reset;
  margin-bottom: 30px;
}

.about__item {
  max-width: 216px;
  height: unset;
  padding: 20px;
  background: $c-light;
}

.about__action {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(#000000, 0.2);
}

.about__name {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.about__text {
  font-size: 12px;
  line-height: 16px;
  color: rgba(#000000, 0.7);
}

.about__icon {
  display: block;
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-bottom: 16px;
}

.about__chat {
  max-width: 300px;
  margin: 0 auto;

  &--consultation {
    position: absolute;
    top: -150px;
    right: 20px;
  }
}

.about__img {
  position: relative;
  right: -39px;
  display: block;
  width: 290px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about__title {
    max-width: 770px;
    margin: 0;
    margin-bottom: 70px;
    font-size: 40px;
    line-height: 50px;
  }

  .about__place {
    align-items: center;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 27px;

    &::before {
      width: 23px;
      height: 23px;
      margin-right: 12px;
    }
  }
}

@media (min-width: 1200px) {
  .about {
    @include page-wrapper;
    position: relative;
    padding-bottom: 80px;
  }

  .about__inner {
    //position: relative;
  }

  .about__chat {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 40;
    width: 590px;
    min-width: 590px;
    //background-color: #ffffff;
    &::before {
      @include pseudo;
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% + 180px);
      height: 100%;
      background: linear-gradient(274.02deg, #ffffff 10.57%, #ffffff 63.33%, rgba(255, 255, 255, 0) 96.29%);
    }

    &--consultation {
      z-index: 0;
      right: -150px;
      top: -90px;

      &::before {
        background: none;
      }
    }
  }

  .about__img {
    right: unset;
    width: 530px;
  }

  .about__action {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 27px;
  }

  .about__icon {
    width: 49px;
    height: 49px;
    margin-bottom: 20px;
  }

  .about__item {
    max-width: 270px;
    padding: 26px;
  }

  .about__list {
    margin-bottom: 34px;
  }

  .about__name {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 23px;
  }

  .about__text {
    font-size: 14px;
    line-height: 23px;
  }
}
