.chat {
  position: relative;
}

.chat__list {
  @include list-reset;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 20;
  width: 100%;
}

.chat__item {
  position: relative;
  max-width: 123px;
  padding: 9px 12px;
  background-color: $c-accent;
  opacity: 0;
  transition: all 0.3s;

  &::before {
    @include pseudo;
    position: absolute;
    right: 10px;
    bottom: -10px;
    border: 5px solid $c-accent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &:nth-child(2n) {
    margin-top: -10px;
    margin-right: 25px;
    margin-left: auto;
    background-color: $c-main;

    &::before {
      right: unset;
      left: 10px;
      border-color: $c-main;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }
  }

  &--active {

    opacity: 1;
  }
}

.chat__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  font-size: 6px;
  color: rgba(#ffffff, 0.5);
}

.chat__text {
  content: "";
  min-height: 9px;
  font-size: 8px;
  color: #ffffff;
  //display: none;
}

@media (min-width: 1200px) {
  .chat__item {
    width: 230px;
    max-width: 230px;
    padding: 15px 20px;

    &:nth-child(2n) {
      margin-right: 85px;
    }
  }

  .chat__list {
    top: 80px;
  }

  .chat__top {
    font-size: 12px;
    line-height: 19px;
  }

  .chat__text {
    min-height: 19px;
    font-size: 14px;
    line-height: 19px;
  }
}
