.hero {
  &--light {
    .hero__tabs {
      background: #f6f6f6;
    }

    .hero__name {
      color: #000000;
    }

    .hero__description {
      color: #000000;
    }

    .hero__text {
      color: #000000;
    }

    .hero__controls {
      display: none;
    }

    .swiper-container {
      margin: 0;
    }

    .hero__list {
      .tabs__item {
        color: #000000;
      }
    }
  }
}

.hero__tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  background: linear-gradient(294.28deg, #121a32 1.51%, #414c70 95.05%);
}

.hero__wrapper {
  margin-top: auto;
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}


.hero__content {
  position: relative;
  padding: 0 20px;
}

.hero__button {
  margin-bottom: 18px;
}

.hero__name {
  margin-bottom: 17px;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: -0.01em;
}

.hero__description {
  margin-bottom: 39px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: -0.01em;
}

.hero__text {
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;

  opacity: 0.5;
}

.hero__list {
  position: relative;
  display: flex;
  padding-left: 20px;
  overflow: auto;

  .tabs__item {
    width: auto;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: -0.01em;
    white-space: nowrap;
    border-bottom: 3px solid transparent;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }

    &--active {
      border-bottom: 3px solid #ef4932;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    &--light {
      .swiper-container {
        margin-top: auto;
      }
    }
  }

  .hero__list {
    margin-top: auto;

    .tabs__item {
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .hero__content {
    padding-right: 0;
  }

  .hero__text {
    margin-bottom: 0;
  }


  .hero__body {
    max-width: 298px;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .hero {
    &--light {
      .hero__list {
        width: 100%;
        overflow: unset;

        .tabs__item {
          width: auto;
        }
      }


      .hero__inner {
        align-self: flex-end;
        width: 1036px;
      }

      .swiper-container {
        display: flex;
        width: 1036px;
      }

      .hero__controls {
        position: absolute;
        right: calc(50% - 585px);
        bottom: 0;
        z-index: 30;
        display: flex;
        margin-bottom: 14px;
        margin-left: auto;
      }
    }
  }

  .hero__tabs {
    @include page-wrapper;
    min-height: 836px;
  }

  .hero__content {
    padding-left: 0;
  }

  .hero__name {
    max-width: 560px;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 52px;
  }

  .hero__body {
    max-width: unset;
  }

  .hero__description {
    max-width: 525px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 29px;
  }

  .hero__button {
    max-width: 258px;
    margin-right: 29px;
    margin-bottom: 0;
  }

  .hero__row {
    display: flex;
    align-items: center;
    max-width: 455px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 18px;
  }

  .hero__list {
    padding-left: 0;

    .tabs__item {
      padding-bottom: 28px;
      font-size: 16px;

      &:not(:last-child) {
        margin-right: 68px;
      }
    }
  }
}
