.warning__red {
  font-weight: 500;
  text-align: center;
  color: #EF4932;
}

.warning__title {
  font-size: 20px;
  font-weight: 700;
  width: 70%;
  margin: 10px auto;
  text-align: center;
}

.warning__description {
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: 1200px) {
  .warning__red {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .warning__title {
    font-size: 35px;
    font-weight: 700;
  }

  .warning__description {
    width: 930px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
  }
}
