.block2-about-company {
  padding: 20px;
}

.block2-about-company__wrap {
  margin-bottom: 19px;
}

.block2-about-company__text {
  font-size: 12px;
  line-height: 16px;

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

@media (min-width: 1200px) {
  .block2-about-company {
    margin-top: 50px;
    padding-right: calc(50% - 525px);
    padding-left: calc(50% - 665px);
    display: flex;
    justify-content: space-between;
  }

  .block2-about-company__inner {
    width: 580px;
    height: 330px;
  }

  .block2-about-company__box {
    width: 535px;
    align-self: center;
  }

  .block2-about-company__img {
    height: 100%;
    object-fit: cover;
  }

  .block2-about-company__text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.01em;
  }
}
