.language {
  @include list-reset;
  position: relative;
  padding: 6px 20px 6px 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(#ffffff, 0.06);

  &::before {
    @include pseudo;
    position: absolute;
    top: 13px;
    right: 5px;
    width: 8px;
    height: 5px;
    background-image: url("../../img/dropdown.svg");
    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.language__item {
  text-transform: uppercase;
}
