.map {
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;

  &::before {
    @include pseudo;
    position: absolute;
    top: 65px;
    left: 70px;
    width: 157px;
    height: 130px;
    background-image: url("../../img/way.svg");
    background-size: contain;
  }

  &::after {
    @include pseudo;
    position: absolute;
    top: 55px;
    left: 209px;
    width: 25px;
    height: 25px;
    background-image: url("../../img/airbus.png");
    background-size: contain;
    transform: rotate(100deg);
    animation: fly 3s linear both;
  }
}

.map__pin {
  position: absolute;

  &--usa {
    bottom: 65px;
    left: 65px;
  }

  &--ru {
    top: 100px;
    left: 250px;
  }
}

.map__img {
  margin-bottom: -45px;
  margin-left: -100px;

  &--desktop {
    display: none;
  }
}

@media (min-width: 650px) {
  .map__img {
    margin-left: 0;
  }

  .map {
    max-width: 644px;
    margin: 0 auto;

    &::before {
      left: 170px;
    }
  }

  .map__pin {
    &--usa {
      left: 165px;
    }

    &--ru {
      left: 350px;
    }
  }
}

@media (min-width: 900px) {
  .map {
    position: absolute;
    top: 100px;
    right: -220px;
  }
}

@media (min-width: 1200px) {
  .map__img {
    &--mobile {
      display: none;
    }

    &--desktop {
      position: absolute;
      bottom: -105px;
      left: -105px;
      display: block;
    }
  }

  .map__pin {
    &--usa {
      bottom: 114px;
      left: 312px;
    }

    &--ru {
      top: 292px;
      left: 771px;
    }
  }

  .map {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 62%;
    max-width: unset;
    height: 100%;

    &::before {
      top: 210px;
      left: 335px;
      z-index: 10;
      width: 394px;
      height: 327px;
      background-image: url("../../img/way@desktop.svg");
    }

    &::after {
      top: 180px;
      left: 647px;
      z-index: 20;
      width: 61px;
      height: 61px;
      transform: rotate(96deg);
      animation: fly 4s linear both;
    }
  }
}

@media (min-width: 300px) {
  @keyframes fly {
    0% {
      top: 197px;
      left: 57px;
      transform: rotate(7deg);
    }

    10% {
      top: 167px;
      left: 60px;
      transform: rotate(15deg);
    }

    20% {
      top: 146px;
      left: 66px;
      transform: rotate(19deg);
    }

    30% {
      top: 123px;
      left: 75px;
      transform: rotate(29deg);
    }

    40% {
      top: 102px;
      left: 88px;
      transform: rotate(37deg);
    }

    50% {
      top: 86px;
      left: 102px;
      transform: rotate(47deg);
    }

    60% {
      top: 71px;
      left: 121px;
      transform: rotate(60deg);
    }

    70% {
      top: 61px;
      left: 142px;
      transform: rotate(71deg);
    }

    80% {
      top: 55px;
      left: 166px;
      transform: rotate(84deg);
    }

    90% {
      top: 54px;
      left: 190px;
      transform: rotate(93deg);
    }

    100% {
      top: 55px;
      left: 209px;
      transform: rotate(100deg);
    }
  }
}

@media (min-width: 650px) {
  @keyframes fly {
    0% {
      top: 197px;
      left: 157px;
      transform: rotate(7deg);
    }

    10% {
      top: 167px;
      left: 160px;
      transform: rotate(15deg);
    }

    20% {
      top: 146px;
      left: 166px;
      transform: rotate(19deg);
    }

    30% {
      top: 123px;
      left: 175px;
      transform: rotate(29deg);
    }

    40% {
      top: 102px;
      left: 188px;
      transform: rotate(37deg);
    }

    50% {
      top: 86px;
      left: 202px;
      transform: rotate(47deg);
    }

    60% {
      top: 71px;
      left: 221px;
      transform: rotate(60deg);
    }

    70% {
      top: 61px;
      left: 242px;
      transform: rotate(71deg);
    }

    80% {
      top: 55px;
      left: 266px;
      transform: rotate(84deg);
    }

    90% {
      top: 54px;
      left: 290px;
      transform: rotate(93deg);
    }

    100% {
      top: 55px;
      left: 309px;
      transform: rotate(100deg);
    }
  }
}

@media (min-width: 1200px) {
  @keyframes fly {
    0% {
      top: 535px;
      left: 302px;
      transform: rotate(6deg);
    }

    10% {
      top: 466px;
      left: 310px;
      transform: rotate(12deg);
    }

    20% {
      top: 406px;
      left: 327px;
      transform: rotate(18deg);
    }

    30% {
      top: 347px;
      left: 351px;
      transform: rotate(29deg);
    }

    40% {
      top: 294px;
      left: 386px;
      transform: rotate(40deg);
    }

    50% {
      top: 249px;
      left: 428px;
      transform: rotate(54deg);
    }

    60% {
      top: 214px;
      left: 483px;
      transform: rotate(65deg);
    }

    70% {
      top: 191px;
      left: 547px;
      transform: rotate(76deg);
    }

    80% {
      top: 180px;
      left: 599px;
      transform: rotate(89deg);
    }

    90% {
      top: 180px;
      left: 647px;
      transform: rotate(96deg);
    }

    100% {
      top: 184px;
      left: 690px;
      transform: rotate(99deg);
    }
  }
}
