.menu__wrapper {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #2E3758;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 80px 30px;
  color: white;
  z-index: 101;

  &--opened {
    display: block;
  }
}
.menu__list {
  list-style: none;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(255,255,255,0.5);
  width: 80%;
  margin-top: 10px;
}

.menu__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__item {
  padding: 10px 0;

  & a {
    position: relative;

    &:hover {
      color: white;

      &::before {
        content: "";
        display: block;
        width: 20px;
        position: absolute;
        left: -30px;
        top: 7px;
        height: 1px;
        background-color: #EF4932;
      }
    }
  }
}

.menu__burger {
  @include reset;
  width: 26px;
  height: 17px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }

  &--opened {
    position: relative;
    z-index: 102;

    & line {
      stroke: white;
    }
  }
}

@media (min-width: 1200px) {
  .menu__burger {
    width: 34px;
    height: 22px;
    z-index: 102;
  }

  .menu__wrapper {
    padding: 140px 40px;
    width: 400px;
    z-index: 101;
  }

  .menu__title {
    font-size: 35px;
  }

  .menu__list {
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
  }

  .menu__item {
    padding: 15px 0;

    & a {
      &:hover {
        &::before {
          width: 20px;
          left: -40px;
          top: 9px;
        }
      }
    }
  }
}
