.receive {
  padding-top: 30px;
  padding-bottom: 40px;
}

.receive__title {
  max-width: 243px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.receive__list {
  @include list-reset;
  display: flex;
  align-items: stretch;
  margin-bottom: 25px;
  padding-left: 55px;
  counter-reset: item;
}

.receive__controls {
  justify-content: center;
}

.receive__content {
  position: relative;
  height: 100%;
  padding: 0 20px 20px 20px;
  overflow: hidden;
}

.receive__item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 210px;
  height: unset;
  margin-top: 55px;
  padding: 44px 0 0 0;
  background-color: #ffffff;
  border: 1px solid #3b5998;
  transition: background-color, color 0.3s;

  &:hover {
    background-color: #2e3758;

    .receive__img {
      border-color: #ffffff;
    }

    .receive__content {
      &::before {
        color: #c4c4c4;
      }
    }

    .receive__text {
      color: #ffffff;
    }
  }

  .receive__content {
    &::before {
      @include pseudo;
      content: counter(item);
      position: absolute;
      right: 10px;
      bottom: -5px;
      font-weight: 500;
      font-size: 100px;
      line-height: 50px;
      text-align: center;
      color: #000000;
      letter-spacing: -0.01em;
      opacity: 0.05;
      counter-increment: item;
    }
  }

  &:last-child {
    margin-right: 110px;
  }
}

.receive__text {
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  b {
    font-weight: 500;
  }
}


.receive__img {
  position: absolute;
  top: -55px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background-color: $c-main;
  border: 1px solid transparent;
  transition: border-color 0.3s;

  img {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .receive {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .receive__title {
    max-width: unset;
    margin-bottom: 69px;
  }
}

@media (min-width: 1200px) {
  .receive {
    @include page-wrapper;
  }

  .receive__list {
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 0;
  }

  .receive__item {
    &:last-child {
      margin-right: 0;
    }
  }

  .receive__controls {
    display: none;
  }
}
