.header {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;

  &--light {
    .header__phone {
      color: #000000;

      svg {
        fill: $c-accent;
      }
    }

    .header__time {
      color: #000000;
    }

    .header__language {
      color: #000000;
      background: #e1e1e1;

      &::before {
        background-image: url("../../img/dropdown@dark.svg");
      }
    }

    .menu__burger {
      svg {
        fill: $c-accent;
      }
    }
  }
}

.header__right {
  display: none;
}

.header__logo {
  img {
    width: 125px;
    height: auto;
  }

  &--opened {
    position: relative;
    z-index: 102;
  }
}


@media (min-width: 1200px) {
  .header {
    padding: 35px 45px;
  }

  .header__contacts {
    display: block;
    margin-right: 36px;
    padding-right: 50px;

    &--inside {
      padding-right: 0;
    }
  }

  .header__menu {
    order: -1;
  }

  .header__right {
    display: flex;
    align-items: center;
    position: relative;
  }

  .header__language {
    display: block;
    height: 25px;
    position: absolute !important;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      height: 100%;

      &::before {
        top: 11px;
        transform: rotate(180deg);
      }
    }
  }

  .header__phone {
    display: inline-flex;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #ffffff;

    svg {
      width: 17px;
      height: 17px;
      margin-right: 10px;
      fill: #ffffff;
    }
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 90;

    img {
      width: 159px;
    }
  }

  .header__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: rgba(#ffffff, 0.5);
  }
}
