.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: 0 0;
  opacity: 0;
  pointer-events: none;


  &.opened {
    height: 100%;
    overflow: auto;
    background: #2e3758;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;

    .popup__wrapper {
      transform: translateY(0);
    }
  }
}

.popup__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 70px 20px;
  overflow: auto;
  transform: translateY(-30px);
  cursor: auto;
  transition: opacity 0.3s, transform 0.5s;
}

.popup__close {
  @include reset;
  position: absolute;
  top: -46px;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
  }
}

.popup__body {
  position: relative;
  width: 100%;

  margin: 0 auto;
  padding: 45px;
  background: #f4f7ff;

  &--callback {
    max-width: 396px;
  }
}

.popup__title {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}


.popup__field {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.popup__group {
  margin-bottom: 30px;
}
